*, *:before, *:after{
  box-sizing: inherit;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body{
  background-color: black;
}

#mainContainer{
  background-color: black;
  align-items: center;
}

nav{
  background-color: black;
  text-align: right;
  line-height: 1.5rem;
}

#navLinks{
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 0;
}

nav ul a{
  font-size:1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  color: #ccc5b8;
  display: block;
}
nav ul a:hover {
  color: white;
}

.sidenav{
  background-color: black;
}

.sidenav li>a{
  display:block;
  text-decoration:none;
  color: #666;

}

#homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#logoContainer{
  display: flex;
  align-items:center;
}


svg{
  overflow:visible;
  fill: #C09E56;
  stroke: transparent;
  stroke-width: 0;
  width:20rem;
  height: 20rem;
  margin: auto;
}

path {
  stroke: #C09E56;
  stroke-width: 0.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 7s linear forwards;
}



@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill:#C09E56;
  }
}

#titleInfo{
  text-align: center;
}

#name{
  font-family: 'Raleway', sans-serif;

  color: white;
  font-size:3rem;
  margin-bottom: 0;
  margin-top: 10px;

}

#description{
  font-family: 'Open Sans', sans-serif;
  font-size:1.5rem;
  color: #ccc5b8;;
  margin-top: 5px;
}

.socialLink{
  text-decoration: none;
  color:#ccc5b8;;
}

.socialLink:hover{
  color:white;
}
#social{
  font-size: 2.5rem;
  color:#ccc5b8;;
  text-align: center;
}

.icon{
  margin-right:10px;
}

.arrowContainer{
  display:flex;
}

.arrow{
  margin: auto;
  color:#C09E56;
  font-size: 2rem;
}


#worksTitle{
  font-family: 'Raleway', sans-serif;

  color: white;
  font-size:3rem;
  margin-top:0;
}


.content {
  overflow: hidden;
}

.content .content-overlay {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  position: relative;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #000;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #000;
  font-size: 0.8em;
}

.githubLink{
  text-decoration: none;
  color:#000;
}

.fadeIn-bottom{
  top: 80%;
}

#aboutTitle{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size:3rem;
  margin-top: 0;
}

#aboutMeText{
  font-family: 'Open Sans', sans-serif;
  font-size:1.5rem;
  color: #ccc5b8;;
  margin-top: 5px;
}

#skillsRow{
  display: flex;
}

#skills{
  margin: auto;
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
height:35px;
width:0px;
background:#6adcfa;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
float: left;
}


.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#444;
  color:rgba(0, 0, 0, 0.4);
}