body{
  background-color: black;
}

#mainContainer{
  background-color: black;
  align-items: center;
}

nav{
  background-color: black;
  text-align: right;
  line-height: 1.5rem;
}

#navLinks{
  display: flex;
  flex-direction: column;
}

nav ul a{
  font-size:1rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  color: #666;
  display: block;
  
}
nav ul a:hover { 
  color: antiquewhite;
}

.sidenav{
  background-color: black;
}

.sidenav li>a{
  display:block;
  text-decoration:none;
  color: #666;

}

#homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#logoContainer{
  display: flex;
  align-items:center;
}


svg{
  overflow:visible;
  fill: #C09E56;
  stroke: transparent;
  stroke-width: 0;
  width:200px;
  height: 200px;
  margin: auto;
}

path {
  stroke: #C09E56;
  stroke-width: 0.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 7s linear forwards;
  
}



@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill:#C09E56;
  }
}

#titleInfo{
  text-align: center;
}

#name{
  font-family: 'Open Sans', sans-serif;
  color: antiquewhite;
  font-size:2rem;
  margin-bottom: 0;
  margin-top: 10px;

}

#description{
  font-family: 'Open Sans', sans-serif;
  color: #666;
  margin-top: 5px;
}

#social{
  font-size: 2rem;
  color:#666;
  text-align: center;
}

.icon{
  margin-right:10px;
}

#arrowContainer{
  display:flex;
}

#arrow{
  margin: auto;
  color:#C09E56;
}

.portfolioCard:hover{
  opacity: 0.3;
	/* filter: alpha(opacity=30); */

}