*, *:before, *:after{
  box-sizing: inherit;
}

body{
  background-color: black;
}

#mainContainer{
  background-color: black;
  align-items: center;
}

nav{
  background-color: black;
  text-align: right;
  line-height: 1.5rem;
}

#navLinks{
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 0;
}

nav ul a{
  font-size:1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  color: #666;
  display: block;
  
}
nav ul a:hover { 
  color: antiquewhite;
}

.sidenav{
  background-color: black;
}

.sidenav li>a{
  display:block;
  text-decoration:none;
  color: #666;

}

#homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#logoContainer{
  display: flex;
  align-items:center;
}


svg{
  overflow:visible;
  fill: #C09E56;
  stroke: transparent;
  stroke-width: 0;
  width:20rem;
  height: 20rem;
  margin: auto;
}

path {
  stroke: #C09E56;
  stroke-width: 0.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 7s linear forwards;
  
}



@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill:#C09E56;
  }
}

#titleInfo{
  text-align: center;
}

#name{
  font-family: 'Open Sans', sans-serif;
  color: antiquewhite;
  font-size:3rem;
  margin-bottom: 0;
  margin-top: 10px;

}

#description{
  font-family: 'Open Sans', sans-serif;
  font-size:1.5rem;
  color: #666;
  margin-top: 5px;
}

#social{
  font-size: 2.5rem;
  color:#666;
  text-align: center;
}

.icon{
  margin-right:10px;
  
}

#arrowContainer{
  display:flex;
}

#arrow{
  margin: auto;
  color:#C09E56;
  font-size: 2rem;
}


.content {
  overflow: hidden;
}

.content .content-overlay {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  /* left: 0; */
  /* top: 0;
  bottom: 0;
  right: 0; */
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  position: relative;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #000;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #000;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}